html {
  scroll-behavior: smooth; }

.highlight {
  color: yellow; }

.scroll-down {
  display: flex;
  justify-content: flex-end;
  color: white;
  opacity: .5;
  font-weight: 400;
  max-width: 80vw;
  margin: 0 auto;
  text-transform: uppercase;
  align-items: center;
  transition: all .5s; }
  .scroll-down:hover {
    opacity: 1; }
  .scroll-down--text {
    margin-right: 15px; }
  .scroll-down--arrow {
    animation: 1s ease-in-out infinite alternate levitate; }

@keyframes levitate {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(3px); } }

.text-fill-animate > a {
  background: linear-gradient(white, white) left no-repeat, #D1D2DE;
  background-size: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .8s ease-in-out; }
  .text-fill-animate > a:hover {
    background-size: 100% 100%;
    opacity: 1 !important; }

.rotate-arrow {
  margin-bottom: 5px;
  transform: rotate(180deg) !important; }

.u-mb {
  margin-top: 20px;
  font-weight: 300; }

.u-bold {
  font-weight: bold; }

.u-white {
  color: #fff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul,
li {
  list-style-type: none; }

a {
  text-decoration: none;
  cursor: pointer; }

button {
  display: inline-block;
  background: none;
  outline: none;
  border: none; }

/* -------------------------------- 

Spacing

-------------------------------- */
:root {
  /* spacing values */
  --space-unit: 1em;
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  /* components padding */
  --btn-padding: var(--space-sm) var(--space-md) var(--space-sm) var(--space-sm); }

@media (max-width: 992px) {
  :root {
    --space-unit: 1.25em;
    --component-padding: var(--space-md); } }

/* vertical margins */
.margin-top,
.margin-top--md {
  margin-top: var(--space-md); }

.margin-top--sm {
  margin-top: var(--space-sm); }

.margin-top--lg {
  margin-top: var(--space-lg); }

.margin-top--xl {
  margin-top: var(--space-xl); }

.margin-top--xxl {
  margin-top: var(--space-xxl); }

.margin-bottom,
.margin-bottom--md {
  margin-bottom: var(--space-md); }

.margin-bottom--sm {
  margin-bottom: var(--space-sm); }

.margin-bottom--lg {
  margin-bottom: var(--space-lg); }

.margin-bottom--xl {
  margin-bottom: var(--space-xl); }

.margin-bottom--xxl {
  margin-bottom: var(--space-xxl); }

@media (max-width: 992px) {
  .margin-top,
  .margin-top--md {
    margin-top: var(--space-lg); }
  .margin-top--sm {
    margin-top: var(--space-md); }
  .margin-top--lg {
    margin-top: var(--space-xl); }
  .margin-top--xl {
    margin-top: var(--space-xxl); }
  .margin-top--xxl {
    margin-top: var(--space-xxxl); }
  .margin-bottom,
  .margin-bottom--md {
    margin-bottom: var(--space-lg); }
  .margin-bottom--sm {
    margin-bottom: var(--space-md); }
  .margin-bottom--lg {
    margin-bottom: var(--space-xl); }
  .margin-bottom--xl {
    margin-bottom: var(--space-xxl); }
  .margin-bottom--xxl {
    margin-bottom: var(--space-xxxl); } }

/* -------------------------------- 

Typography

-------------------------------- */
:root {
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Playfair Display', serif;
  /* set base values */
  --text-base-size: 1.2em;
  --text-scale-ratio: 1.2;
  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  /* line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.4;
  --para-line-height:1.6; }

@media (max-width: 600px) {
  :root {
    --text-base-size: 1.1em;
    --text-scale-ratio: 1.2; } }

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text); }

h1,
h2,
h3,
h4,
form legend {
  color: var(--color-text-heading);
  margin-bottom: var(--space-sm);
  line-height: var(--heading-line-height); }

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl); }

h1,
.text--xxl {
  font-size: var(--text-xxl); }

h2,
.text--xl {
  font-size: var(--text-xl); }

h3,
.text--lg {
  font-size: var(--text-lg); }

h4,
.text--md {
  font-size: var(--text-md); }

.text--sm,
small {
  font-size: var(--text-sm); }

.text--xs {
  font-size: var(--text-xs); }

p {
  line-height: var(--body-line-height); }

a {
  color: var(--color-link); }
  a:visited {
    color: var(--color-link-visited); }

b,
strong {
  font-weight: 700; }

.text-container h2,
.text-container h3,
.text-container h4 {
  margin-top: var(--space-sm); }

.text-container ul,
.text-container ol,
.text-container p {
  margin-bottom: var(--space-md); }

.text-container ul,
.text-container ol {
  list-style-position: outside;
  padding-left: 24px; }

.text-container ul {
  list-style-type: disc; }

.text-container ol {
  list-style-type: decimal; }

.text-container ul li,
.text-container ol li {
  line-height: var(--body-line-height); }

.text-container em {
  font-style: italic; }

.text-container u {
  text-decoration: underline; }

/* utility classes */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

li {
  margin-bottom: var(--space-xs); }

.sub-title {
  color: gray;
  font-weight: 300;
  line-height: 35px; }

.btn {
  width: max-content;
  transition: all .3s;
  cursor: pointer;
  align-items: center;
  font-size: .8em;
  position: relative;
  display: flex; }

.hero--btn {
  margin-top: var(--space-lg);
  border-radius: 50px;
  padding: var(--btn-padding);
  color: white;
  border: 2px solid #e9e9e962; }
  .hero--btn .arrow {
    padding: 8px;
    border-radius: 50px;
    border: 2px solid white;
    transform: rotate(-45deg) scale(0.8);
    transform-origin: center;
    width: 40px;
    position: absolute;
    transition: all .3s; }
  .hero--btn .arrow-hover {
    transform: rotate(0deg) scale(1);
    border: 2px solid #96b2cf;
    width: 45px; }
    @media (max-width: 500px) {
      .hero--btn .arrow-hover {
        width: 40px; } }
  .hero--btn .btn--text {
    padding: var(--space-xs);
    margin-left: 45px;
    transition: all .3s; }
  .hero--btn .btn-text-hover {
    transform: translateX(5px); }

.voyage--btn {
  display: flex;
  align-items: center;
  padding: var(--space-sm) var(--space-lg);
  color: white;
  border: 2px solid #e9e9e962;
  font-size: .8em;
  position: relative;
  border-radius: 1px; }
  .voyage--btn:hover {
    background-color: white;
    color: black;
    cursor: pointer; }

.controls {
  left: -100px;
  top: 99px;
  position: absolute;
  transition: all .3s;
  transform: scale(1); }
  .controls .arrow {
    padding: 8px;
    border-radius: 50px;
    border: 2px solid white;
    transform-origin: center;
    width: 40px;
    transition: all .3s; }
    .controls .arrow:hover {
      cursor: pointer;
      transform: scale(1.2); }
  .controls--left {
    margin-bottom: 20px;
    transform: rotate(180deg); }
  .controls--right {
    margin-bottom: 20px; }

.trans {
  transition: all .3s;
  animation: fadeIn 1.2s cubic-bezier(0.22, 1, 0.36, 1); }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(110px); }
  to {
    transform: translateX(0);
    opacity: 1; } }

.fadeIn {
  transition: all .3s;
  animation: fade 1.2s cubic-bezier(0.22, 1, 0.36, 1); }

@keyframes fade {
  from {
    visibility: hidden; }
  to {
    visibility: visible; } }

.location-list {
  display: flex;
  justify-content: center;
  color: #242A3A;
  padding: var(--space-xxl); }
  @media (max-width: 992px) {
    .location-list {
      display: grid;
      grid-template-columns: 1fr; } }
  @media (max-width: 600px) {
    .location-list {
      padding: var(--space-md); } }
  .location-list__section {
    padding: var(--space-md) var(--space-xl); }
    @media (max-width: 1242px) {
      .location-list__section {
        padding: var(--space-md) var(--space-sm); } }
    .location-list__section--title {
      margin-bottom: var(--space-md); }
    .location-list__section__items {
      display: grid;
      gap: 10px 60px;
      grid-template-columns: repeat(2, 1fr); }
      .location-list__section__items--item {
        font-size: .88em; }
  .location-list hr {
    opacity: .3; }

.footer__links {
  display: flex;
  padding: var(--space-md) 30vw;
  background: #242A3A;
  justify-content: space-evenly; }
  .footer__links--item {
    font-weight: 300;
    color: white;
    font-size: .7em;
    margin: 0 15px;
    text-align: center;
    align-items: center;
    display: flex; }

nav {
  display: flex;
  justify-content: space-between;
  padding-top: var(--space-md);
  margin: 0 auto;
  max-width: 80vw;
  color: white;
  position: sticky; }

.nav-links {
  display: flex;
  margin: 0 -10px; }
  .nav-links li > * {
    margin: 0 10px; }

.markdown {
  display: grid;
  justify-content: center;
  gap: 40px;
  max-width: 800px;
  margin: 40px auto;
  font-family: 'PT Serif', serif; }
  @media (max-width: 992px) {
    .markdown {
      padding: 20px;
      gap: 20px; } }
  .markdown p,
  .markdown li,
  .markdown blockquote {
    font-size: var(--text-md);
    line-height: var(--para-line-height); }
  .markdown li {
    list-style-type: num;
    margin-left: 40px; }
  .markdown blockquote {
    font-style: italic;
    font-size: var(--text-xxxl);
    text-align: center; }

body {
  background-color: black; }

.about {
  margin: 50px auto;
  padding: 40px;
  background-image: url(/images/about/bg.png);
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  min-height: 90vh; }
  @media (max-width: 992px) {
    .about {
      margin: 10px auto; } }
  .about--img {
    margin: 0 auto;
    max-width: 400px;
    height: auto;
    display: flex;
    margin-bottom: 20px; }
  .about__description {
    color: gray;
    text-align: center; }
    .about__description h4,
    .about__description h5 {
      font-weight: 300; }
    .about__description .arrow-down {
      margin-top: 20px;
      transform: rotate(180deg); }

.bio {
  width: 70vw;
  margin: 0 auto; }
  .bio p {
    max-width: 60vw;
    font-size: 48px;
    color: #383838; }
    @media (max-width: 992px) {
      .bio p {
        font-size: 24px;
        max-width: 100vw; } }

.history {
  max-width: 70vw;
  margin: 110px auto;
  width: 690px; }

p, ul, h6:not(:last-child) {
  margin-bottom: var(--space-md); }

body {
  background-color: #ececec; }

nav {
  color: black; }

.nav-ruler {
  border: 1px solid black;
  width: 80%;
  opacity: 1;
  margin: 30px auto; }

.hero__heading {
  margin-top: 60px; }
  .hero__heading--title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: var(--text-xxxl);
    letter-spacing: 0.051em;
    margin-bottom: 20px; }
  .hero__heading--date {
    text-align: center;
    font-size: var(--text-sm);
    font-weight: 400; }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 50px;
  max-width: 80vw;
  margin: 100px auto;
  transition: all .3s; }
  @media (max-width: 500px) {
    .cards {
      grid-template-columns: 1fr; } }

.card--title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 500; }

.card--img {
  margin-bottom: 20px; }

.card--source {
  margin-bottom: 20px;
  font-weight: 400; }

.card .read-more-btn {
  padding: 10px 15px;
  border: 1px solid black;
  width: max-content;
  margin-top: 40px;
  transition: all .3s; }
  .card .read-more-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer; }

img {
  width: 100%;
  height: auto; }

.page-ruler {
  width: 80%;
  margin: 30px auto;
  opacity: 1;
  border: 1px solid black; }

.above-fold {
  height: 100vh;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7)), url(/images/ecuador-1.jpg);
  background-size: cover;
  background-position: center;
  padding: var(--space-md); }
  @media (max-width: 992px) {
    .above-fold {
      padding: var(--space-md); } }

.container {
  max-width: 70vw;
  margin: 0 auto; }

.hero {
  max-width: 80vw;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80vh;
  color: white; }
  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 450px; }
  .hero--title {
    font-size: 3.2em;
    margin-bottom: var(--space-xs);
    font-weight: 400; }
  .hero__facts {
    font-size: .9em; }
    .hero__facts--description {
      font-weight: 500; }
    .hero__facts--location {
      font-weight: 200; }
    .hero__facts--note {
      opacity: .5;
      font-size: .86em; }

.places__container,
#fader,
.fade {
  position: relative;
  background-color: rgba(0, 0, 0, 0.383);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; }
  .places__container > div,
  .places__container .fade,
  #fader > div,
  #fader .fade,
  .fade > div,
  .fade .fade {
    position: absolute; }
  .places__container .places--title,
  #fader .places--title,
  .fade .places--title {
    z-index: 10;
    top: 50px;
    left: 50px;
    position: absolute;
    color: white;
    letter-spacing: .175em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg); }
    @media (max-width: 600px) {
      .places__container .places--title,
      #fader .places--title,
      .fade .places--title {
        left: 20px; } }
  .places__container .places,
  #fader .places,
  .fade .places {
    display: flex;
    flex-wrap: wrap;
    max-width: 85vw;
    justify-content: center; }
    @media (max-width: 870px) {
      .places__container .places,
      #fader .places,
      .fade .places {
        margin: 0 auto;
        flex-direction: column; } }
    .places__container .places--item,
    #fader .places--item,
    .fade .places--item {
      cursor: pointer;
      color: #fff;
      opacity: .5;
      font: 600 4.5em var(--font-primary);
      padding: 20px;
      margin: 10px;
      list-style-type: none; }
      @media (max-width: 870px) {
        .places__container .places--item,
        #fader .places--item,
        .fade .places--item {
          font-size: 3em; } }
  .places__container .fadeOut,
  #fader .fadeOut,
  .fade .fadeOut {
    opacity: 0; }
  .places__container .fadeIn,
  #fader .fadeIn,
  .fade .fadeIn {
    opacity: 1; }
  .places__container .fade,
  #fader .fade,
  .fade .fade {
    background-position: center;
    background-size: cover;
    transition: opacity .5s ease-in-out; }
  .places__container .hide,
  #fader .hide,
  .fade .hide {
    display: none; }

.voyages {
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7)), url("/images/canada-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  padding: var(--space-xl);
  display: grid;
  justify-content: center;
  align-content: center; }
  .voyages--title {
    text-align: center;
    color: #bfeaf8;
    letter-spacing: .5em !important; }
  .voyages--name {
    text-align: center;
    color: white;
    font-size: var(--text-xxl);
    text-transform: uppercase; }
  .voyages .table-container {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: start;
    gap: var(--space-md);
    padding: var(--space-sm);
    color: white; }
    @media (max-width: 1200px) {
      .voyages .table-container {
        grid-template-columns: 1fr; } }
    .voyages .table-container .table {
      display: flex;
      align-items: center;
      padding: 10px;
      flex-wrap: wrap; }
      .voyages .table-container .table--name {
        font-weight: 400;
        font-size: var(--text-md);
        width: 250px; }
      .voyages .table-container .table--item {
        font-weight: 200;
        font-size: var(--text-sm);
        text-align: left;
        width: 280px;
        margin-right: 20px; }
        @media (max-width: 992px) {
          .voyages .table-container .table--item {
            margin-right: 0; } }
      .voyages .table-container .table--date {
        width: min-content; }
      .voyages .table-container .table > * {
        margin-bottom: 0; }
        @media (max-width: 992px) {
          .voyages .table-container .table > * {
            margin-bottom: 5px; } }
  .voyages .btn {
    margin: var(--space-xl) auto; }

hr {
  width: 100%;
  color: white;
  opacity: .3; }

.caps-title {
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: var(--text-sm); }
