html {
  scroll-behavior: smooth; }

.highlight {
  color: yellow; }

.scroll-down {
  display: flex;
  justify-content: flex-end;
  color: white;
  opacity: .5;
  font-weight: 400;
  max-width: 80vw;
  margin: 0 auto;
  text-transform: uppercase;
  align-items: center; }
  .scroll-down--text {
    margin-right: 15px; }

.text-fill-animate > a {
  background: linear-gradient(white, white) left no-repeat, #D1D2DE;
  background-size: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .8s ease-in-out; }
  .text-fill-animate > a:hover {
    background-size: 100% 100%;
    opacity: 1 !important; }

.rotate-arrow {
  margin-bottom: 5px;
  transform: rotate(180deg) !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul,
li {
  list-style-type: none; }

a {
  text-decoration: none;
  cursor: pointer; }

button {
  display: inline-block;
  background: none;
  outline: none;
  border: none; }

/* -------------------------------- 

Spacing

-------------------------------- */
:root {
  /* spacing values */
  --space-unit: 1em;
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  /* components padding */
  --btn-padding: var(--space-sm) var(--space-md) var(--space-sm) var(--space-sm); }

@media (max-width: 992px) {
  :root {
    --space-unit: 1.25em;
    --component-padding: var(--space-md); } }

/* vertical margins */
.margin-top,
.margin-top--md {
  margin-top: var(--space-md); }

.margin-top--sm {
  margin-top: var(--space-sm); }

.margin-top--lg {
  margin-top: var(--space-lg); }

.margin-top--xl {
  margin-top: var(--space-xl); }

.margin-top--xxl {
  margin-top: var(--space-xxl); }

.margin-bottom,
.margin-bottom--md {
  margin-bottom: var(--space-md); }

.margin-bottom--sm {
  margin-bottom: var(--space-sm); }

.margin-bottom--lg {
  margin-bottom: var(--space-lg); }

.margin-bottom--xl {
  margin-bottom: var(--space-xl); }

.margin-bottom--xxl {
  margin-bottom: var(--space-xxl); }

@media (max-width: 992px) {
  .margin-top,
  .margin-top--md {
    margin-top: var(--space-lg); }
  .margin-top--sm {
    margin-top: var(--space-md); }
  .margin-top--lg {
    margin-top: var(--space-xl); }
  .margin-top--xl {
    margin-top: var(--space-xxl); }
  .margin-top--xxl {
    margin-top: var(--space-xxxl); }
  .margin-bottom,
  .margin-bottom--md {
    margin-bottom: var(--space-lg); }
  .margin-bottom--sm {
    margin-bottom: var(--space-md); }
  .margin-bottom--lg {
    margin-bottom: var(--space-xl); }
  .margin-bottom--xl {
    margin-bottom: var(--space-xxl); }
  .margin-bottom--xxl {
    margin-bottom: var(--space-xxxl); } }

/* -------------------------------- 

Typography

-------------------------------- */
:root {
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Playfair Display', serif;
  /* set base values */
  --text-base-size: 1.2em;
  --text-scale-ratio: 1.2;
  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  /* line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.4; }

@media (max-width: 500px) {
  :root {
    --text-base-size: 1.1em;
    --text-scale-ratio: 1; } }

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text); }

h1,
h2,
h3,
h4,
form legend {
  color: var(--color-text-heading);
  margin-bottom: var(--space-sm);
  line-height: var(--heading-line-height); }

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl); }

h1,
.text--xxl {
  font-size: var(--text-xxl); }

h2,
.text--xl {
  font-size: var(--text-xl); }

h3,
.text--lg {
  font-size: var(--text-lg); }

h4,
.text--md {
  font-size: var(--text-md); }

.text--sm,
small {
  font-size: var(--text-sm); }

.text--xs {
  font-size: var(--text-xs); }

p {
  line-height: var(--body-line-height); }

a {
  color: var(--color-link); }
  a:visited {
    color: var(--color-link-visited); }

b,
strong {
  font-weight: 700; }

.text-container h2,
.text-container h3,
.text-container h4 {
  margin-top: var(--space-sm); }

.text-container ul,
.text-container ol,
.text-container p {
  margin-bottom: var(--space-md); }

.text-container ul,
.text-container ol {
  list-style-position: outside;
  padding-left: 24px; }

.text-container ul {
  list-style-type: disc; }

.text-container ol {
  list-style-type: decimal; }

.text-container ul li,
.text-container ol li {
  line-height: var(--body-line-height); }

.text-container em {
  font-style: italic; }

.text-container u {
  text-decoration: underline; }

/* utility classes */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

li {
  margin-bottom: var(--space-xs); }

.btn {
  width: max-content;
  border-radius: 10px;
  transition: all .3s;
  cursor: pointer;
  border-radius: 50px; }

.hero--btn {
  display: flex;
  align-items: center;
  margin-top: var(--space-lg);
  padding: var(--btn-padding);
  color: white;
  border: 2px solid #e9e9e962;
  font-size: .8em;
  position: relative; }
  .hero--btn .arrow {
    padding: 8px;
    border-radius: 50px;
    border: 2px solid white;
    transform: rotate(-45deg);
    width: 40px;
    position: absolute;
    transition: all .3s; }
  .hero--btn .arrow-hover {
    transform: rotate(0deg);
    border: 2px solid #96b2cf;
    width: 45px; }
    @media (max-width: 500px) {
      .hero--btn .arrow-hover {
        width: 40px; } }
  .hero--btn .btn--text {
    padding: var(--space-xs);
    margin-left: 45px;
    transition: all .3s; }
  .hero--btn .btn-text-hover {
    transform: translateX(5px); }

nav {
  display: flex;
  justify-content: space-between;
  padding-top: var(--space-md);
  margin: 0 auto;
  max-width: 80vw;
  color: white;
  position: sticky; }

.nav-links {
  display: flex;
  margin: 0 -10px; }
  .nav-links li > * {
    margin: 0 10px; }

.above-fold {
  height: 100vh;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7)), url(/images/ecuador-1.jpg);
  background-size: cover;
  background-position: center;
  padding: var(--space-md); }
  @media (max-width: 992px) {
    .above-fold {
      padding: var(--space-md); } }

.container {
  max-width: 70vw;
  margin: 0 auto; }

.hero {
  max-width: 80vw;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80vh;
  color: white; }
  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 450px; }
  .hero--title {
    font-size: 3.2em;
    margin-bottom: var(--space-xs);
    font-weight: 400; }
  .hero__facts {
    font-size: .9em; }
    .hero__facts--description {
      font-weight: 500; }
    .hero__facts--location {
      font-weight: 200; }
    .hero__facts--note {
      opacity: .5;
      font-size: .86em; }

.places__container,
#fader,
.fade {
  position: relative;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; }
  .places__container > div,
  .places__container .fade,
  #fader > div,
  #fader .fade,
  .fade > div,
  .fade .fade {
    position: absolute; }
  .places__container .places--title,
  #fader .places--title,
  .fade .places--title {
    z-index: 10;
    top: 50px;
    left: 50px;
    position: absolute;
    color: white;
    letter-spacing: .175em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg); }
    @media (max-width: 600px) {
      .places__container .places--title,
      #fader .places--title,
      .fade .places--title {
        left: 20px; } }
  .places__container .places,
  #fader .places,
  .fade .places {
    display: flex;
    flex-wrap: wrap;
    max-width: 85vw;
    justify-content: center; }
    @media (max-width: 870px) {
      .places__container .places,
      #fader .places,
      .fade .places {
        margin: 0 auto;
        flex-direction: column; } }
    .places__container .places--item,
    #fader .places--item,
    .fade .places--item {
      cursor: pointer;
      color: #fff;
      opacity: .5;
      font: 600 4.5em var(--font-primary);
      padding: 20px;
      margin: 10px;
      list-style-type: none; }
      @media (max-width: 870px) {
        .places__container .places--item,
        #fader .places--item,
        .fade .places--item {
          font-size: 3em; } }
  .places__container .fadeOut,
  #fader .fadeOut,
  .fade .fadeOut {
    opacity: 0; }
  .places__container .fadeIn,
  #fader .fadeIn,
  .fade .fadeIn {
    opacity: 1; }
  .places__container .fade,
  #fader .fade,
  .fade .fade {
    background-position: center;
    background-size: cover;
    transition: opacity .5s ease-in-out; }
  .places__container .hide,
  #fader .hide,
  .fade .hide {
    display: none; }

footer {
  display: flex;
  justify-content: center;
  margin: var(--space-xl) auto; }
  footer > li {
    margin: 0 var(--space-sm); }

.caps-title {
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-size: 1em; }
