html {
  scroll-behavior: smooth;
}

.highlight {
  color: yellow;
}

.scroll-down {
  display: flex;
  justify-content: flex-end;
  color: white;
  opacity: .5;
  font-weight: 400;
  max-width: 80vw;
  margin: 0 auto;
  text-transform: uppercase;
  align-items: center;
  transition: all .5s;
  &:hover{opacity: 1;}

  &--text {
    margin-right: 15px;
  }

  &--arrow {
    animation: 1s ease-in-out infinite alternate levitate;
  }

  @keyframes levitate {
    from {
      transform: translateY(0)
    }

    to {
      transform: translateY(3px)
    }
  }
}

.text-fill-animate>a {
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) left no-repeat, #D1D2DE;
  background-size: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .8s ease-in-out;

  &:hover {
    background-size: 100% 100%;
    opacity: 1 !important;
  }
}

.rotate-arrow {
  margin-bottom: 5px;
  transform: rotate(180deg) !important;
}

.u-mb{
  margin-top: 20px;
  font-weight: 300;
}