html {
  scroll-behavior: smooth;
}

.highlight {
  color: yellow;
}

.scroll-down {
  display: flex;
  justify-content: flex-end;
  color: white;
  opacity: .5;
  font-weight: 400;
  max-width: 80vw;
  margin: 0 auto;
  text-transform: uppercase;
  align-items: center;

  &--text {
    margin-right: 15px;
  }
}

