nav {
    display: flex;
    justify-content: space-around;

    font-weight: var(--bold);
    font-size: 24px;
    padding-top: 40px;
    a {
        color: white;
        text-decoration: none;
    }
}

.nav-links {
    display: flex;
    gap: 40px;
}