body {
    background-color: rgb(236, 236, 236);
}

nav {
    color: black;
}

.nav-ruler {
    border: 1px solid black;
    width: 80%;
    opacity: 1;
    margin: 30px auto;
}

.hero__heading {
    margin-top: 60px;

    &--title {
        text-align: center;
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
        font-size: var(--text-xxxl);
        letter-spacing: 0.051em;

        margin-bottom: 20px;
    }

    &--date {
        text-align: center;
        font-size: var(--text-sm);
        font-weight: 400;
    }

}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 50px;
    max-width: 80vw;
    margin: 100px auto;
    transition: all .3s;

    @media (max-width: 500px) {
        grid-template-columns: 1fr;
    }
}

.card {

    &--title {
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-weight: 500;
    }

    &--img {
        margin-bottom: 20px;
    }

    &--source {
        margin-bottom: 20px;
        font-weight: 400;
    }

    .read-more-btn {
        padding: 10px 15px;
        border: 1px solid black;
        width: max-content;
        margin-top: 40px;
        transition: all .3s;

        &:hover {
            background-color: black;
            color: white;
            cursor: pointer;
        }
    }
}

img {
    width: 100%;
    height: auto;
}

.page-ruler {
    width: 80%;
    margin: 30px auto;
    opacity: 1;
    border: 1px solid black;
}