.above-fold {
    height: 100vh;
    background-image:
        linear-gradient(to bottom, rgba(224, 224, 224, 0.439), rgba(7, 6, 8, 0.425)),
        url(https://ak5.picdn.net/shutterstock/videos/18466495/thumb/1.jpg);
    background-size: cover;
    color: white;
}

.hero {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;
        height: 400px;


    }

    &--title {
        text-align: center;
        font-size: 94px;
        letter-spacing: 20px;
        margin-bottom: 20px;
        text-shadow: #00000082 1px 4px 5px;

        @include for-phone-only {
            font-size: 40px;
            letter-spacing: 10px;
        }
    }
}

.destinations {
    color: #201d1dcc;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    background-image:
        linear-gradient(to bottom, rgba(56, 54, 69, 0.439), rgba(45, 43, 59, 0.425)),
        url(https://www.tremblant.ca/-/media/tremblant/mountain-and-village/pedestrian-village/village-view-sunset-l.ashx?h=1350&w=2400&hash=AFFB465E3339E1B6DDF7154028D9159C);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0 auto 10px auto;
    padding: 80px;

    &--item {
        font-size: 68px;
        font-weight: var(--bold);
        display: inline;

        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}

footer {
    display: flex;
    gap: 40px;
    justify-content: center;

    margin: 100px auto;
}