.above-fold {
    height: 100vh;
    background-image:
        linear-gradient(180deg, transparent, rgba(0, 0, 0, .7)),
        url(/images/ecuador-1.jpg);
    background-size: cover;
    background-position: center;

    padding: var(--space-md);

    @include breakpoint(md) {
        padding: var(--space-md);
    }
}

.container {
    max-width: 70vw;
    margin: 0 auto;
}

.hero {
    max-width: 80vw;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80vh;
    color: white;

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        max-width: 450px;
    }

    &--title {
        font-size: 3.2em;
        margin-bottom: var(--space-xs);
        font-weight: 400;
    }

    &__facts {
        font-size: .9em;

        &--description {
            font-weight: 500;
        }

        &--location {
            font-weight: 200;
        }

        &--note {
            opacity: .5;
            font-size: .86em;
        }
    }
}

.places__container,
#fader,
.fade {
    position: relative;
    background-color: rgba(0, 0, 0, 0.383);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    &>div,
    .fade {
        position: absolute;
    }

    .places--title {
        z-index: 10;
        top: 50px;
        left: 50px;
        position: absolute;
        color: white;
        letter-spacing: .175em;

        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);

        @include breakpoint(sm) {
            left: 20px;
        }
    }

    // text item container
    .places {
        display: flex;
        flex-wrap: wrap;
        max-width: 85vw;
        justify-content: center;

        @media (max-width: 870px) {
            margin: 0 auto;
            flex-direction: column;
        }

        // text items
        &--item {
            cursor: pointer;
            color: #fff;
            opacity: .5;
            font: 600 4.5em var(--font-primary);
            padding: 20px;
            margin: 10px;
            list-style-type: none;

            @media (max-width: 870px) {
                font-size: 3em;
            }
        }
    }

    // transition effects
    .fadeOut {
        opacity: 0;
    }

    .fadeIn {
        opacity: 1;
    }

    .fade {
        background-position: center;
        background-size: cover;
        transition: opacity .5s ease-in-out;
    }

    .hide {
        display: none;
    }
}


.voyages {
    background-image:
        linear-gradient(180deg, transparent, rgba(0, 0, 0, .7)),
        url('/images/canada-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    padding: var(--space-xl);

    display: grid;
    justify-content: center;
    align-content: center;

    &--title {
        text-align: center;
        color: #bfeaf8;
        letter-spacing: .5em !important;
    }

    &--name {
        text-align: center;
        color: white;
        font-size: var(--text-xxl);
        text-transform: uppercase;
    }

    .table-container {
        position: relative;

        display: grid;
        align-items: center;
        justify-items: start;
        gap: var(--space-md);
        padding: var(--space-sm);
        color: white;

        @include breakpoint(lg) {
            grid-template-columns: 1fr;
        }

        .table {
            display: flex;
            align-items: center;
            padding: 10px;
            flex-wrap: wrap;

            &--name {
                font-weight: 400;
                font-size: var(--text-md);
                width: 250px;
            }

            &--item {
                font-weight: 200;
                font-size: var(--text-sm);
                text-align: left;
                width: 280px;
                margin-right: 20px;

                @include breakpoint (md) {
                    margin-right: 0;
                }
            }

            &--date {
                width: min-content;
            }

            &>* {
                margin-bottom: 0;

                @include breakpoint (md) {
                    margin-bottom: 5px;
                }
            }
        }
    }

    .btn {
        margin: var(--space-xl) auto;
    }
}

hr {
    width: 100%;
    color: white;
    opacity: .3;
}

// global type attributes
.caps-title {
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: var(--text-sm);
}